@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 --pageBg: hsla(0, 100%, 99%, 1) radial-gradient(circle, hsla(0, 100%, 99%, 1) 45%, hsla(40, 5%, 89%, 1) 100%);
 --mainBg: #F5F5F5;
 --mainFontColor: #000000;
 --complementaryColor: #4B0082;
 --displayBgColor: hsla(0, 100%, 99%, 1);
 --boxShadowColor: #747474;
 --blur: blur(13px);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pageBg);
}

main {
    width: clamp(300px, 60vw, 650px);
    background: var(--mainBg);
    backdrop-filter: var(--blur);
    padding: clamp(15px, 2.3%, 40px);
    border-radius: 25px;
    box-shadow: 6px 6px 21px -2px var(--boxShadowColor);
}

main h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    font-size: clamp(2rem, 3vw, 3.5rem);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    color: var(--mainFontColor);
}

main h3 {
    margin-top: 3%;
    font-size: clamp(1.1rem, 1.5vw, 1.75rem);
    font-weight: 300;
    text-align: center;
    color: var(--complementaryColor);
}

.timer {
    width: 90%;
    margin: 4.5% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timer section {
    width: clamp(75px, 15vw, 110px);
    background: var(--displayBgColor);
    margin: 5px;
    padding: clamp(5px, 3%, 25px);
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    box-shadow: 4px 4px 16px -4px var(--boxShadowColor);

}

.timer input[type="number"] {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    appearance: none;
    color: var(--mainFontColor);
    text-align: center;
    font-size: clamp(1.3rem, 1.85vw, 1.9rem);
    font-weight: 500;
}

.timer input[type="number"]::-webkit-outer-spin-button,
.timer input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timer input[type="number"] + label {
    color: var(--complementaryColor);
    text-transform: uppercase;
    margin-top: 10%;
    font-size: clamp(0.7rem, 0.7vw, 0.8rem);
}

/* dark theme */
body.dark {
    --pageBg: hsla(0, 0%, 12%, 1) radial-gradient(circle, hsla(0, 0%, 12%, 1) 17%, hsla(0, 0%, 0%, 1) 100%);
    --mainBg: rgba(83, 83, 83, 0.5);
    --mainFontColor: #ffffff;
    --complementaryColor: #70F1E9;
    --displayBgColor: hsla(0, 0%, 12%, 1);
    --boxShadowColor: #212121;
    --blur: blur(13px);
}

/* holiday theme */
body.holiday {
    --pageBg: hsla(0, 100%, 99%, 1) url(images/holidays.jpg) center no-repeat;
    background-size: cover;
    --mainBg: #DAC8AE80;
    --mainFontColor: #ffffff;
    --complementaryColor: #ED2939;
    /* --complementaryColor: #D64550; */
    --displayBgColor: #111111;
    --boxShadowColor: #242424;
    --blur: blur(7px);
}

body.new-year {
    --pageBg: hsla(0, 0%, 12%, 1) url(images/new_year.jpg) center no-repeat;
    background-size: cover;
    --mainBg: rgba(37, 37, 37, 0.6);
    --mainFontColor: #ffffff;
    --complementaryColor: #FACA16;
    --displayBgColor: hsla(0, 0%, 12%, 1);
    --boxShadowColor: #212121;
    --blur: blur(13px);
}